#!/usr/bin/env python
PACKAGE='drawbuffer_config'

from dynamic_reconfigure.parameter_generator_catkin import *

generator = ParameterGenerator()

#_GROUP_TYPES = {
#    '': 'BoxGroup',
#    'collapse': 'CollapseGroup',
#    'tab': 'TabGroup',
#    'hide': 'HideGroup',
#    'apply': 'ApplyGroup',
#}

monitor = generator.add_group("Draw Control", state = True)
monitor.add("loopFreq", double_t, 0, "Monitor Loop Frequency", 50, 0, 70)
monitor.add("drawTexts", bool_t, 0, "Draw Texts", True)
monitor.add("drawCircles", bool_t, 0, "Draw Circles", True)

exit(generator.generate(PACKAGE, "drawbuffer_config", "drawbuffer"))
