#!/usr/bin/env python
PACKAGE='monitor_config'

from dynamic_reconfigure.parameter_generator_catkin import *

generator = ParameterGenerator()

#_GROUP_TYPES = {
#    '': 'BoxGroup',
#    'collapse': 'CollapseGroup',
#    'tab': 'TabGroup',
#    'hide': 'HideGroup',
#    'apply': 'ApplyGroup',
#}

monitor = generator.add_group("Monitor Setting", state = True)
monitor.add("ballHistory", int_t, 0, "number of ball shadows", 60, 0, 300)

exit(generator.generate(PACKAGE, "monitor_config", "monitor"))
