<launch>
<rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />

<node name="commonconfig" 	pkg="parsian_agent"            	type="parsian_agent_commonconfig_node"  respawn="true" />
<node name="agent_0" 		pkg="parsian_agent"            	type="parsian_agent_node"	respawn="true" />

<node name="worldmodel" 	pkg="parsian_world_model"      	type="parsian_world_model_node"  respawn="true" />
<node name="vision"		pkg="parsian_protobuf_wrapper" 	type="vision"  respawn="true" />

</launch>
